

<div id="main" data-lift="surround?with=default;at=content">
    <a href='add' class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span> New Job
    </a>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div data-lift="JobRender.selectProject?form=post">
                <label> Project</label> <select id="project"></select>


            </div>


        </div>
        <div class="panel-body">
            <table  class='table-striped'
                    id="example" width="100%">
                <thead>
                <tr>					<th>Main class</th>

                    <th> <span class="glyphicon glyphicon-wrench"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr data-lift="lift:JobRender.jobs">


                </tr>
                </tbody>
            </table>
        </div>
    </div>






    <div data-lift="lift:JobRender.paginate">
        <nav:first></nav:first>
        |
        <nav:prev></nav:prev>
        | |
        <nav:next></nav:next>
        |
        <nav:last></nav:last>
        |
        <nav:records></nav:records>
    </div>


</div>