

<div id="main" data-lift="surround?with=default;at=content">
    <a href='/cluster/add'>Create a cluster</a>


    <table  class='table-striped'
            id="example" width="100%">
        <thead>
        <tr>					<th>Cluster name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr data-lift="lift:ClusterRender.clusters">


        </tr>
        </tbody>
    </table>


    <div data-lift="lift:ClusterRender.paginate">
        <nav:first></nav:first>
        |
        <nav:prev></nav:prev>
        | |
        <nav:next></nav:next>
        |
        <nav:last></nav:last>
        |
        <nav:records></nav:records>
    </div>


</div>