

<div id="main" data-lift="surround?with=default;at=content">
    <a href='add' class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span> New Project
    </a>



    <table  class='table-striped'
            id="example" width="100%">
        <thead>
        <tr>					<th>Project name</th>
            <th>Git branch</th>
            <th> <span class="glyphicon glyphicon-wrench"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr data-lift="lift:ProjectRender.projects">


        </tr>
        </tbody>
    </table>


    <div data-lift="lift:ProjectRender.paginate">
        <nav:first></nav:first>
        |
        <nav:prev></nav:prev>
        | |
        <nav:next></nav:next>
        |
        <nav:last></nav:last>
        |
        <nav:records></nav:records>
    </div>


</div>